<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Thư viện boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- /Thư viện boxicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/imgs/favicon/apple-touch-icon.png" />
    <link rel="icon" type="img/png" sizes="32x32" href="/imgs/favicon/favicon-32x32.png" />
    <link rel="icon" type="imgs/png" sizes="16x16" href="/imgs/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/imgs/favicon/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <title>Shopping Online</title>
</head>

<body style="background-color: #15161d">
    <header class="position-sticky top-0 start-0 end-0 z-3"
        style="border-bottom: 3px solid rgb(209, 0, 36); min-width: 400px">
        <!-- TOP HEADER -->
        <div class="py-3 d-none d-md-block" style="background-color: rgb(30, 31, 41)">
            <div class="container py-1">
                <div class="d-flex justify-content-between flex-wrap">
                    <ul class="d-flex m-0" style="list-style-type: none">
                        <li class="me-3 fw-semibold" style="font-size: 14px">
                            <a href="#" class="text-decoration-none text-white">
                                <i class="fa-solid fa-phone text-white bg-transparent"
                                    style="color: rgb(209, 0, 36) !important"></i>
                                +012-34-56-78
                            </a>
                        </li>
                        <li class="me-3 fw-semibold" style="font-size: 14px">
                            <a href="/contact" class="text-decoration-none text-white">
                                <i class="fa-solid fa-envelope text-white bg-transparent"
                                    style="color: rgb(209, 0, 36) !important"></i>
                                email@email.com
                            </a>
                        </li>
                        <li class="me-3 fw-semibold" style="font-size: 14px">
                            <a href="#" class="text-decoration-none text-white">
                                <i class="fa-solid fa-location-dot text-white bg-transparent"
                                    style="color: rgb(209, 0, 36) !important"></i>
                                30/4 ĐH Cần Thơ
                            </a>
                        </li>
                    </ul>

                    <ul class="d-flex m-0" style="list-style-type: none">
                        <li class="me-3 fw-semibold" style="font-size: 14px">
                            <a href="#" class="text-decoration-none text-white">
                                Trở thành Người bán
                            </a>
                        </li>
                        <li class="me-3 fw-semibold" style="font-size: 14px">
                            <a href="/login" class="text-decoration-none text-white">
                                Đăng nhập
                            </a>
                        </li>
                        <li class="me-3 fw-semibold" style="font-size: 14px">
                            <a href="/register" class="text-decoration-none text-white">
                                Đăng ký
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div class="py-3" style="background-color: rgb(21, 22, 29)">
            <div class="container">
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3 mb-3 m-md-0">
                        <div class="text-center">
                            <a href="/">
                                <img class="img-fluid w-75" src="/imgs/logos/shopping-online.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="h-100 w-100 d-flex flex-column justify-content-center position-relative">
                            <form id="search-form" class="d-flex w-100">
                                <input class="search input py-2 px-4 w-100 rounded-start-5 border-0"
                                    placeholder="Tìm kiếm" />
                                <div class="btn text-white fw-bold py-2 px-4 rounded-start-0 rounded-end-5 border-0"
                                    style="background-color: rgb(209, 0, 36)">
                                    Search
                                </div>
                            </form>

                            <!-- HISTORY -->
                            <div class="history position-absolute top-100 rounded-2 z-2" style="
                    background-color: rgb(21, 22, 29);
                    width: 85%;
                    display: none;
                  ">
                                <ul class="history-list p-0" style="list-style-type: none">
                                    <li class="d-flex align-items-center justify-content-around">
                                        <a href="#"
                                            class="py-1 ps-2 d-block text-decoration-none text-white text-truncate"
                                            style="width: 90%">
                                            Bàn phím giả cơ
                                        </a>
                                        <span class="close-btn text-white p-1">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-around">
                                        <a href="#" class="py-1 ps-2 d-block text-decoration-none text-white"
                                            style="width: 90%">
                                            Đồng hồ
                                        </a>
                                        <span class="close-btn text-white p-1">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-around">
                                        <a href="#" class="py-1 ps-2 d-block text-decoration-none text-white"
                                            style="width: 90%">
                                            iphone 15 promax 512gb
                                        </a>
                                        <span class="close-btn text-white p-1">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-around">
                                        <a href="#" class="py-1 ps-2 d-block text-decoration-none text-white"
                                            style="width: 90%">
                                            laptop
                                        </a>
                                        <span class="close-btn text-white p-1">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-around">
                                        <a href="#" class="py-1 ps-2 d-block text-decoration-none text-white"
                                            style="width: 90%">
                                            Giày thể thao nam
                                        </a>
                                        <span class="close-btn text-white p-1">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- /HISTORY -->
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 mt-4 mt-md-0">
                        <!-- Cart -->
                        <div class="cart h-100 d-flex justify-content-around align-items-center">
                            <div class="text-white position-relative">
                                <i class="fa fa-shopping-cart text-center fs-2"></i>
                                <span class="position-absolute rounded-circle text-center" style="
                      width: 25px;
                      height: 25px;
                      top: -10px;
                      right: -10px;
                      background-color: rgb(209, 0, 36);
                    ">
                                    3
                                </span>

                                <!-- Cart List -->
                                <div class="cart-list d-none position-absolute bg-white border rounded-3" style="
                      inset: 50px auto auto -450px;
                      width: 500px;
                      z-index: 100;
                    ">
                                    <div class="overflow-x-hidden overflow-y-scroll rounded" style="max-height: 50vh">
                                        <div class="product card flex-row border-0">
                                            <img src="/imgs/products/96a5c0f3ecefb25751ed5d7668cedee8_tn.jpg"
                                                class="w-25" alt="..." />
                                            <div class="card-body container">
                                                <div class="row">
                                                    <p class="card-text col-8 text-truncate">
                                                        Bàn phím giả cơ gaming kèm chuột có dây chế độ led
                                                        7 màu tiện lợi dành cho máy tính,game thủ,văn
                                                        phòng.
                                                    </p>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <p class="fs-5 fw-bold" style="color: rgb(209, 0, 36)">
                                                            ₫125.000
                                                        </p>
                                                        <p style="color: rgb(209, 0, 36)">x 2</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product card flex-row border-0">
                                            <img src="/imgs/products/96a5c0f3ecefb25751ed5d7668cedee8_tn.jpg"
                                                class="w-25" alt="..." />
                                            <div class="card-body container">
                                                <div class="row">
                                                    <p class="card-text col-8 text-truncate">
                                                        Bàn phím giả cơ gaming kèm chuột có dây chế độ led
                                                        7 màu tiện lợi dành cho máy tính,game thủ,văn
                                                        phòng.
                                                    </p>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <p class="fs-5 fw-bold" style="color: rgb(209, 0, 36)">
                                                            ₫125.000
                                                        </p>
                                                        <p style="color: rgb(209, 0, 36)">x 2</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product card flex-row border-0">
                                            <img src="/imgs/products/96a5c0f3ecefb25751ed5d7668cedee8_tn.jpg"
                                                class="w-25" alt="..." />
                                            <div class="card-body container">
                                                <div class="row">
                                                    <p class="card-text col-8 text-truncate">
                                                        Bàn phím giả cơ gaming kèm chuột có dây chế độ led
                                                        7 màu tiện lợi dành cho máy tính,game thủ,văn
                                                        phòng.
                                                    </p>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <p class="fs-5 fw-bold" style="color: rgb(209, 0, 36)">
                                                            ₫125.000
                                                        </p>
                                                        <p style="color: rgb(209, 0, 36)">x 2</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product card flex-row border-0">
                                            <img src="/imgs/products/96a5c0f3ecefb25751ed5d7668cedee8_tn.jpg"
                                                class="w-25" alt="..." />
                                            <div class="card-body container">
                                                <div class="row">
                                                    <p class="card-text col-8 text-truncate">
                                                        Bàn phím giả cơ gaming kèm chuột có dây chế độ led
                                                        7 màu tiện lợi dành cho máy tính,game thủ,văn
                                                        phòng.
                                                    </p>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <p class="fs-5 fw-bold" style="color: rgb(209, 0, 36)">
                                                            ₫125.000
                                                        </p>
                                                        <p style="color: rgb(209, 0, 36)">x 2</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product card flex-row border-0">
                                            <img src="/imgs/products/96a5c0f3ecefb25751ed5d7668cedee8_tn.jpg"
                                                class="w-25" alt="..." />
                                            <div class="card-body container">
                                                <div class="row">
                                                    <p class="card-text col-8 text-truncate">
                                                        Bàn phím giả cơ gaming kèm chuột có dây chế độ led
                                                        7 màu tiện lợi dành cho máy tính,game thủ,văn
                                                        phòng.
                                                    </p>
                                                    <div class="d-flex align-items-center gap-1">
                                                        <p class="fs-5 fw-bold" style="color: rgb(209, 0, 36)">
                                                            ₫125.000
                                                        </p>
                                                        <p style="color: rgb(209, 0, 36)">x 2</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-4 pb-3 text-end">
                                        <button class="btn text-white py-2 px-3 me-3"
                                            style="background-color: rgb(209, 0, 36)">
                                            Xem giỏ hàng
                                        </button>
                                    </div>
                                </div>
                                <!-- /Cart List -->
                            </div>

                            <div class="dropdown d-block d-md-none">
                                <button class="btn dropdown-toggle text-white fs-4" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu" style="border: none">
                                    <li>
                                        <a class="dropdown-item text-white py-2" href="#">Tài khoản</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white py-2" href="#">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Cart -->
                    </div>
                    <!-- /ACCOUNT -->
                </div>
            </div>
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- MAIN  -->

    <main style="background-color: #f5f5f5" class="p-2 rounded">
        <div class="container rounded">
            <div style="background-color: #ffffff">
                <div class="row fw-semibold fs-4 border-bottom p-2 text-center m-0" style="width: 100%">
                    <h1 style="width: 100%">Sản Phẩm</h1>
                </div>
                <div class="filter-sort__title p-3 fs-4 pb-1" style="color: #4a4a4a">
                    Sắp xếp theo
                </div>
                <div class="filter-sort__list-filter d-flex p-3">
                    <a class="btn-filter button__sort d-flex align-items-center text-decoration-none" style="
                border: 1px solid #e5e7eb;
                padding: 5px 10px;
                margin: 0 10px 10px 0;
                white-space: nowrap;
                cursor: pointer;
                color: #444;
                border-radius: 10px;
                background-color: #f3f4f6;
              ">
                        <div class="icon px-1">
                            <i class="bx bxs-discount"></i>
                        </div>
                        Giá Cao - Thấp
                    </a><a class="btn-filter button__sort d-flex align-items-center text-decoration-none" style="
                border: 1px solid #e5e7eb;
                padding: 5px 10px;
                margin: 0 10px 10px 0;
                white-space: nowrap;
                cursor: pointer;
                color: #444;
                border-radius: 10px;
                background-color: #f3f4f6;
              ">
                        <div class="icon">
                            <svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"></svg>
                        </div>
                        Giá Thấp - Cao
                    </a><a class="btn-filter button__sort d-flex align-items-center text-decoration-none" style="
                border: 1px solid #e5e7eb;
                padding: 5px 10px;
                margin: 0 10px 10px 0;
                white-space: nowrap;
                cursor: pointer;
                color: #444;
                border-radius: 10px;
                background-color: #f3f4f6;
              ">
                        <div class="icon">
                            <svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"></svg>
                        </div>
                        Khuyến Mãi Hot
                    </a><a class="btn-filter button__sort active d-flex align-items-center text-decoration-none" style="
                border: 1px solid #e5e7eb;
                padding: 5px 10px;
                margin: 0 10px 10px 0;
                white-space: nowrap;
                cursor: pointer;
                color: #444;
                border-radius: 10px;
                background-color: #f3f4f6;
              ">
                        <div class="icon">
                            <svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"></svg>
                        </div>
                        Xem nhiều
                    </a>
                </div>
                <div class="row p-3">
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>

                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>

                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product d-flex justify-content-center col-6 col-md-4 col-lg-2 py-2">
                        <div class="card" style="width: 11rem">
                            <div class="logo-cart">
                                <i class="bx bx-shopping-bag add-to-cart" id="cart-item-1"></i>
                                <div class="discount-card pe-1 ps-1">
                                    <span>10%</span>
                                    <span>Giảm</span>
                                </div>
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-llysbdiyaktb13_tn"
                                class="card-img-top p-2" alt="product" />
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate" style="font-size: 11px">
                                    Tai Nghe Bluetooth Pro 2 Không Dây Cao Cấp Định Vị Đổi Tên
                                    Tự Động Kết Nối Cảm Ứng Chính Hãng PKT
                                </h5>
                                <p class="price card-text text-start m-0" style="color: rgb(209, 0, 36)">
                                    179.000đ
                                </p>
                                <div class="star pt-0">
                                    <i class="bx bxs-star"></i><i class="bx bxs-star"></i><i class="bx bxs-star"></i><i
                                        class="bx bxs-star"></i><i class="bx bx-star"></i>
                                </div>
                                <div class="add_to_cart text-center top-100 start-0 end-0 position-absolute d-none w-100 rounded-bottom-1"
                                    style="
                      background-color: rgb(209, 0, 36);
                      border: 1px solid rgb(209, 0, 36);
                    ">
                                    <div class="btn text-white border-0">Thêm vào giỏ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#"
                        class="btn col-4 offset-4 btn-primary py-1 border-1 my-5 text-decoration-none text-black fs-6 border-0 text-white"
                        style="background-color: rgb(30, 31, 41)">
                        Xem thêm
                    </a>
                </div>
            </div>
        </div>
    </main>
    <!-- /MAIN-->

    <!-- FOOTER -->
    <footer style="border-top: 3px solid rgb(209, 0, 36); min-width: 400px">
        <!-- top footer -->
        <div style="background-color: rgb(21, 22, 29)">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6 text-center text-md-start">
                        <h3 class="mt-5 mb-3 my-md-4 fs-4 text-white">Về Chúng Tôi</h3>

                        <ul style="padding: 0; list-style-type: none">
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Giới Thiệu Về Shop</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Tuyển Dụng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Điều Khoản</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Chính Sách Bảo Mật</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Chính Hãng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Kênh Người Bán</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Flash Sales</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Liên Hệ Với Truyền Thông</a>
                            </li>
                        </ul>
                        <ul style="padding: 0; list-style-type: none">
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">
                                    <i class="fa-solid fa-location-dot text-white bg-transparent"
                                        style="color: rgb(209, 0, 36) !important"></i>
                                    30/4 ĐH Cần Thơ</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">
                                    <i class="fa-solid fa-phone text-white bg-transparent"
                                        style="color: rgb(209, 0, 36) !important"></i>
                                    +012-34-56-78
                                </a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">
                                    <i class="fa-solid fa-envelope text-white bg-transparent"
                                        style="color: rgb(209, 0, 36) !important"></i>
                                    email@email.com
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-xs-6 text-center text-md-start">
                        <h3 class="mt-5 mb-3 my-md-4 fs-4 text-white">CSKH</h3>

                        <ul class="" style="padding: 0; list-style-type: none">
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Trung Tâm Trợ Giúp</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Hướng Dẫn Mua Hàng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Hướng Dẫn Bán Hàng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Thanh Toán</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Vận Chuyển</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Trả Hàng & Hoàn Tiền</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Chăm Sóc Khách Hàng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Chính Sách Bảo Hành</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-xs-6 text-center text-md-start">
                        <h3 class="mt-5 mb-3 my-md-4 fs-4 text-white">THANH TOÁN</h3>

                        <ul class="d-flex justify-content-center justify-content-md-start flex-wrap gap-3"
                            style="padding: 0; list-style-type: none">
                            <li class="py-2">
                                <a href="#" class="fs-1 text-white text-decoration-none"><i
                                        class="fa-brands fa-cc-visa"></i></a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="fs-1 text-white text-decoration-none"><i
                                        class="fa-brands fa-cc-amazon-pay"></i></a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="fs-1 text-white text-decoration-none"><i
                                        class="fa-brands fa-cc-paypal"></i></a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="fs-1 text-white text-decoration-none"><i
                                        class="fa-brands fa-cc-mastercard"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-xs-6 text-center text-md-start">
                        <h3 class="mt-5 mb-3 my-md-4 fs-4 text-white">Các Dịch Vụ</h3>

                        <ul class="" style="padding: 0; list-style-type: none">
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Tài khoản của tôi</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Giỏ Hàng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Theo Dõi Đơn Hàng</a>
                            </li>
                            <li class="py-2">
                                <a href="#" class="text-white text-decoration-none">Trợ giúp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div style="background-color: rgb(30, 31, 41)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center text-white py-4">
                        <span class="copyright">
                            &copy; 2023 - Bản quyền thuộc về Công ty TTHH
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>